---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <Header />
  <div class="mx-36 p-5 border border-black rounded-xl bg-slate-200">
    <div class="p-8">
      <h1 class="text-3xl font-extrabold font-serif">
        BIENVENIDOS AL UNIVERSO DEL TENIS DE MESA <br /><br /> ¿No encuentras el
        regalo perfecto para un apasionado del tenis de mesa o necesitas conseguir
        algún producto? ¡Pues estás en el lugar indicado!
      </h1>
    </div>
    <div class="flex items-center justify-center">
      <img src="/Welcome.jpeg" alt="general image" class="h-96" />
    </div>
  </div>
  <Footer />
</Layout>
