<footer class="bg-slate-600 text-white p-14 mt-20">
  <div class="container mx-auto px-4 text-center">
    <p class="text-sm">2024 Tienda Ping Pong. Todos los derechos reservados.</p>
    <p class="text-sm mt-2">
      <a href="/contact" class="hover:text-blue-400">Contacto</a>
    </p>
  </div>
</footer>
